$themes: (
    dark: (
        bg-primary: #222831,
        bg-secondary: #003c4b,
        bg-odd: #002a35,
        bg-nav: #1b2027,
        font-color: #F9FFEE,
        border-color: #000000
    ),
    light: (
        bg-primary: #DAE0E6,
        bg-secondary: #F9F9F9,
        bg-odd: #e8e8e8,
        bg-nav: #F9F9F9,
        font-color: rgb(46, 46, 46),
        border-color: #969696
    )
);