@import 'globals/themes.scss';

.App{
    min-height: 100vh;
    @each $theme-name, $values in $themes{
        &.theme-#{$theme-name}{
            @each $prop, $value in $values{
            --#{$prop}: #{$value};
            }
            background-color: var(--bg-primary);
            color: var(--font-color);
        }
    }
}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
}

main.main-page-content{
    padding: 100px 15px;
    position: relative;
}

a{
    color: inherit;
    text-decoration: none;
}