$dark-background: #222831;
$dark-secondary-background: #003c4b;
$dark-third-background: #002a35;
$dark-nav: #1b2027;
$dark-font: #F9FFEE;
$dark-border: #d8d8d8;
$light-background: #F9FFEE;
$light-secondary-background: rgb(255, 238, 213);
$light-font: #222831;